<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2250%22 fill=%22%2361c0bf%22></rect><text x=%2250%%22 y=%2250%%22 dominant-baseline=%22central%22 text-anchor=%22middle%22 font-size=%2285%22>🐾</text></svg>" />
      <nav class="grid-group">
        <div class="logo">

          <a href="/"><img src="https://res.cloudinary.com/dr8qu5omt/image/upload/c_crop,w_120,h_120/v1734298254/favicon_1_imebmj.png" class="logo-png"
              aria-label="Go to home page" alt="Lorem ipsum dolor sit amet"></a>
        </div>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/portfolio/">Mission</a>
          </li>
          <li>
            <a href="/supplies request/">Supply Request</a>
          </li>
          <li>
            <a href="/available for adoption/">Adopt Today</a>
          </li>
          <li>
            <a href="/contact/">Contact us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>